.card_header {
    display: flex;
    justify-content: space-between;
}

.delete_button {
    background-color: rgb(119, 0, 0);
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 20px;
}